body{
    background-color: #393E46;
}
h1{
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin: 30px;
}
p{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
}
footer{
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin-top: 5%;
}
.dice{
    text-align: center;
    display: inline-block;
}
.container{
    margin: auto;
    text-align: center;
    width: 70%;
}
img{
    width: 80%;
}